<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking de paises</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buscar.css') }}">
</head>
<body>
{% include 'header.html' %}
    <div class="container">
        <table>
            <tr>
                <th>Rank</th>
                <th>Country</th>
                <th>Region</th>
                <th>Documents</th>
                <th>Citable documents</th>
                <th>Citations</th>
                <th>Self-citations</th>
                <th>Citations per document</th>
                <th>H index</th>
            </tr>
            {% for row in country_rank_data %}
                <tr data-href="{{ url_for('country_details', country=row['Country']) }}">
                    <td>{{ row['Rank'] }}</td>
                    <td>{{ row['Country'] }}</td>
                    <td>{{ row['Region'] }}</td>
                    <td>{{ row['Documents'] }}</td>
                    <td>{{ row['Citable documents'] }}</td>
                    <td>{{ row['Citations'] }}</td>
                    <td>{{ row['Self-citations'] }}</td>
                    <td>{{ row['Citations per document'] }}</td>
                    <td>{{ row['H index'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% include 'footer.html' %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(function(row) {
            row.addEventListener("click", function() {
                window.location.href = this.dataset.href;
            });
        });
    });
</script>
<script>
    //Get the button
    var mybutton = document.getElementById("topBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>
</body>
</html>
